<div>
  <div class ="row">
    <div class = "col-xs-3">
      <div class="form-group">
        <input type="text" [(ngModel)]="newArtist" placeholder="Add New Artist" class="form-control">
        <input type="text" [(ngModel)]="newArtistAlbum" placeholder="Add New Artist Album" class="form-control">
      </div>
    </div>
    <div class = "col-xs-3">
      <a class="btn btn-block btn-lg btn-primary" (click)= "addNewArtistAndAlbum(newArtist, newArtistAlbum)">Add</a>
    </div>
  </div>
  <div class ="row">
      <ul>
          <li *ngFor="let artist of artistsListDisplay">
            {{ artist.name }}
            <ul>
              <li *ngFor="let album of artist.albums">
                  {{ artist.album }}
              </li>
            </ul>
          </li>
        </ul>
  </div>
</div>
